/* css for the game of life*/

body{
	background-color: #6A5ACD;
}

#lifegrid{ margin: 10px 0; }

.alive {
	color : white;
	background-color: black;
}

.dead {
	color : white;
	background-color: white;
}

.willDie {
	color : orange;
	background-color: #6B0000;	
}

.willBeBorn{
	color : orange;
	background-color: #D3FFD3;	
}

td {
	border: 0px solid #000;
	
	width: 35px;
	height: 20px;
	text-align: center;
	font: 0.75em Arial, sans-serif;
}
table {
	border-collapse: separate;
	border-spacing: 3px; 
}

td:hover {background-color: pink; color: orange; }

